
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

@section Header {
    <h1>
        Header - EBuy Online Auction Site
    </h1>
}
@section Footer {
    Footer - Copyright @DateTime.Now.Year
}

<div class="main">
    Main - This is the main content.
</div>

