
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGameDev.cshtml";
}

<canvas id="adventure-canvas" width="800" height="600"></canvas>

<div>
    <p>Keys count: <span id="keys-count"></span></p>    
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/adventureGame/GraphicsCommon.js"></script>
    <script type="text/javascript" src="~/Scripts/adventureGame/ImagesLoading.js"></script>
    <script type="text/javascript" src="~/Scripts/adventureGame/Warrior.js"></script>
    <script type="text/javascript" src="~/Scripts/adventureGame/Input.js"></script>
    <script type="text/javascript" src="~/Scripts/adventureGame/World.js"></script>
    <script type="text/javascript" src="~/Scripts/adventureGame/Main.js"></script>
}

