
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutGameDev</title>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)
</body>
</html>
